<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mavenbird_PaymentRestriction::rule" title="Mavenbird" sortOrder="51">
                    <resource id="Mavenbird_PaymentRestriction::paymentrestriction" title="Payment Restriction" sortOrder="10"/>
                    <resource id="Mavenbird_PaymentRestriction::paymentrestriction_configuration" title="Configuration" sortOrder="99" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mavenbird_PaymentRestriction::paymentrestriction_config" title="PaymentRestriction Configuration"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>